@font-face {

    src : url(../fonts/Windows\ Regular.ttf);
    font-family: 'Levi Windows';

}

* {

    user-select: none;

}

body {

    font-family: 'Levi Windows';
    display: flexbox;
    justify-content: center;
    flex-direction: column;
    background-image: url(../imgs/win95background.webp);

}

header {

    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: underline;

}

header > p {

    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0.5em;

}

main {

    display: flex;
    height: 30em;

}

main > nav {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 30px;
    margin: 4em 5em 1em 8em;
    padding: 0.5em 0em 1.5em 0em;

}

main > nav > .item {

    text-align: center;
    border: 2px solid transparent;

}

main > nav > .item:hover {

    border: 2px rgb(0, 0, 0) dotted;

}

main > nav > div > img {

    height: 70px;
    width: 70px;
    cursor: pointer;

}

main > nav > div > p {

    padding: 0;
    margin: 0;
    left: 3px;
    position: relative;

}

main > #text {

    margin-top: 2em;
    background-image: url(../imgs/notepad.webp);
    background-repeat: no-repeat;
    background-size:contain;
    width: 45em;
    height: 30em;
    margin-right: 4em;

}

main > #text > #Bienvenue {

    margin-top: 5em;
    margin-left: 3em;

}

main > #text > table {

    font-family: "Levi Windows";
    margin-top: 4.3em;
    margin-left: 3em;
    border-collapse: collapse;

}

main > #text > table th {

    text-align: center;

}

main > #text > table #tableTitle {

    text-align: center;

}

main > #text > table #MiseEnForme {

    width: 150px;

}

main > #text > table span {

    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    text-decoration:underline;

}

main > #text > table span:hover {

    border: 1px solid black;
    background-color: rgb(185, 185, 185);
    cursor: pointer;

}

main > #preuves {

    border: 2px black dashed;
    display: flex;
    justify-content: center;
    width: 23em;
    height: 15em;
    align-items: center;
    margin-top: 8em;;

}

main > #preuves > #preuve {

    position: absolute;
    width: 20em;
    height: 15em;
    cursor: pointer;

}

footer {

    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0px;
    position: fixed;
    font-size: 18px;
    align-items: center;

}

footer > a {

    width: 30px;
    height: 30px;

}

footer > a > img {

    width: 30px;
    height: 30px;
    margin-left: 1.5em;
    cursor: pointer;

}

@media (max-width: 1920px) {

    nav .item {
        margin-bottom: 1.8em;
    }

    main > #text > table {
        margin-right: 10em;
    }

    main > #text {

        margin-right: 2em;
        width: 45em;
        height: 30em;

    }

    #text p {
        margin-left: 2.5em;
    }

    main > #preuves {

        width: 20em;
        height: 15em;
        margin-top: 8em;;
    
    }

    main > nav {

        margin: 4em 4em 1em 6em;
    
    }

    footer p {
        font-size: 1em;
    }
}